body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("login.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 249, 247, 0.842);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(13, 19, 40, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  font-size: 16px;
  background: #031119;
  color: rgb(228, 229, 235);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #081369;
}

.toggle {
  font-size: 14px;
  text-align: center;
}

.toggle span {
  color: #292a3d;
  cursor: pointer;
  font-weight: bold;
}
input[type="password"] {
  position: relative;
}
