body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("login.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgba(41, 80, 125, 0.8);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  font-size: 16px;
  background: #185d8e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #111586;
}

.toggle {
  font-size: 14px;
  text-align: center;
}

.toggle span {
  color: #0d1553;
  cursor: pointer;
  font-weight: bold;
}
input[type="password"] {
  position: relative;
}
